*.iml
*.idea/
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
app/build/
app/release/
app/debug/
build
/captures
.externalNativeBuild
src/main/res/drawable/
.android_keys/
app/beta/
app/formal/
*.log
captures/